@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: myFont;
  src: url(./assets/fonts/RoxboroughCF-DemiBold.otf);
}
@font-face {
  font-family: myNav;
  src: url(./assets/fonts/Maharlika-Regular.ttf);
}
@font-face {
  font-family: italic;
  src: url(./assets/fonts/RoxboroughCF-BoldItalic.otf);
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #988d57;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

nav {
  padding: 10px;
}
@media (min-width: 600px) {
  nav {
    padding: 20px;
  }
}

nav {
  font-family: myNav;
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(152, 141, 87, 0);
  font-size: 20px;
  padding: 0 11rem;
  transition: background-color 0.5s ease-in;
}
@media (min-width: 300px) {
  nav {
    padding: 0 5rem;
    justify-content: space-between;
  }
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style-type: none;
  margin-right: 20px;
}
nav ul li:last-child {
  margin-right: 0px;
}
nav a {
  position: relative;
  text-decoration: none;
  color: #e8e6bb;
}
nav a::before {
  content: "";
  position: absolute;
  height: 3px;
  right: 0px;
  bottom: -3px;
  left: 0px;
  background-color: #7d7653;
  transition: 1s;
}
nav a:hover {
  transition: 1s;
}
nav a:hover::before {
  background: linear-gradient(to right, #171717, #7d7653);
  transition: 1s;
}

.main {
  display: flex;
  flex-wrap: wrap;
  position: static;
  justify-content: space-between;
  background-image: url("./assets/1.png");
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: scroll;
  background-size: cover;
  min-height: 89vh;
}

.form {
  border-radius: 10px;
  margin: 6rem 4rem 4rem 4rem;
  margin-right: 11rem;
  padding: 2rem 3rem;
  box-shadow: 2px 2px 30px 1px #7d7653;
  background-color: #7d7653;
  color: #cbba66;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
@media (max-width: 1000px) {
  .form {
    margin: 7rem auto 6rem auto;
    padding: 1rem 2rem;
  }
}

.form:hover {
  transform: scale(1.1);
}

input,
label {
  margin-bottom: 30px;
}

input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgba(204, 204, 204, 0);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 300px) {
  input[type=text] {
    padding: 10px;
    margin: 9px 0;
    margin-left: 0;
  }
}

input[type=text]:focus {
  border: 2px solid #b5ab3e;
}

button {
  width: 100%;
  background-color: #cbba66;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

button:focus {
  background-color: #a79a55;
}

.presentation {
  color: #3EB595;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-left: 11rem;
}

.frase {
  color: #171717;
  font-size: 100px;
  font-family: myFont;
  margin-top: 13rem;
}
.frase #estilo {
  font-family: italic;
}
@media (min-width: 300px) {
  .frase {
    font-size: 70px;
  }
}

.frase p {
  margin: 2rem auto;
}

.content {
  width: 100%;
  min-height: 50vh;
  background-color: #988d57;
}

.card-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 10px 10px 2px #988d57;
}

.card-product {
  background-color: #ffffff;
  width: 17rem;
  height: 27rem;
  margin: 2rem;
  border-radius: 10px;
  color: #171717;
  box-shadow: 5px 10px 30px 1px #cbba66;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.card-product h4 {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
.card-product p {
  padding-left: 10px;
  margin: 0;
  padding-top: 0;
}
.card-product img {
  border-radius: 10px;
  margin: 8px 8px 8px 8px;
  width: 16rem;
  height: 18rem;
}

.card-product:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 2rem;
  padding-left: 11rem;
}
@media (max-width: 1000px) {
  .footer {
    padding-left: 2rem;
  }
}
.footer a {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: #ffff;
  font-size: 15px;
}
.footer img {
  margin: 8px;
  width: 2rem;
}

.endereco {
  color: #ffffff;
  margin: 0 14rem 0 3rem;
}
.endereco p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
.endereco h5 {
  font-size: 18px;
  margin: 0;
  margin-top: 0;
}

#info {
  color: whitesmoke;
  position: relative;
  margin-top: 14.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
